// Thypography
// --------------------------
$font-family__primary: 'Roboto Slab', serif;
$font-family__secondary: 'Roboto', serif;

// Line height
$line-height__xs: 14px;
$line-height__s: 16px;
$line-height__m: 20px;
$line-height__l: 25px;
$line-height__xl: 30px;
$line-height__xxl: 38px;
// Font sizes
$font-size__s: 12px;
$font-size__m: 15px;
$font-size__l: 16px;
$font-size__xl: 18px;
$font-size__xxl: 24px;
// Font weigth
$font-weigth__bold: 700;

// Colors
// ---------------------------
$blue-light: #4ba7ee;
$blue: #003970;
$blue-2: #105AA3;
$blue-3: #3B95ED;
$blue-dark: #001841;

$grey: #4E5156;
$black: #000;

$red: #db171d;
$orange: #ffab48;
$yellow: #ffef63;

$body-background: #f9f9f9;
$paragraph-color: #4e5156;
$bullet-color: #64676c;
$border-color-1: #c9e3f9;
$border-color-2: #dee1e8;
